<footer class="footer">
  <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
  <p>None of this has anything to do with Nick's employer.</p>
</footer>
