<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Here</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/fedora-on-rpi4/dev/index.html">Fedora on a Raspberry Pi 4</a>
            <a class="navbar-item" href="/infrastructure-as-code/dev/index.html">Ansible</a>
            <a class="navbar-item" href="/rhel8-on-pn50/dev/index.html">RHEL 8 on an ASUS PN50</a>
            <a class="navbar-item" href="/ocp4-on-pn50/dev/index.html">OCP4 on an ASUS PN50</a>
            <a class="navbar-item" href="/rhel9-on-pn50/dev/index.html">RHEL 9 on an ASUS PN50</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Elsewhere</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.linkedin.com/in/nickhardiman/">LinkedIn</a>
            <a class="navbar-item" href="https://github.com/nickhardiman">GitHub</a>
          </div>
        </div>
        <a class="navbar-item" href="/">Home</a>
      </div>
    </div>
  </nav>
</header>
